* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}

.box-center {
    width: 70%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}

.mb {
    margin-bottom: 30px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr {
    margin-right: 1%;
}

.demo {
    background-color: antiquewhite;
    min-height: 100px;
}

.header {
    background-color: #76bb6852;
    color: #6abe61;
    border: 1px rgb(48, 159, 122)solid;
    border-radius: 4px;
}

.header h1 {
    margin: 20px;
    font-size: 1.6vw;
    font-weight: 600;
}

.menu {
    background-color: rgba(0, 0, 0, 0.785);
    color: #ccc;
    border-radius: 4px;
}

.menu ul {
    padding: 0px 10px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 0.8vw;
}

.menu ul li a:hover { 
    color: #fff;
}

.left-box {
    float: left;
    width: 74%;
}

.right-box {
    float: left;
    width: 24%;
}

.box-title {
    color: #333;
    padding: 10px;
    background-color: #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px #ccc solid;
}

.box-content {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    min-height: 200px;
    padding: 20px;
}

.box-content-2 {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    min-height: 200px;
}

.box-search {
    padding: 10px;
    background-color: #eee;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.banner {
    text-align: center;
}

.banner img { 
    min-height: 300px;
    height: 300px;
    width: 100%;
}

.box-product {
    float: left;
    width: 32%;
    min-height: 300px;
    border: 1px #ddd solid;
    border-radius: 4px;
    margin-bottom: 20px;
}

.box-product .img-product {
    min-height: 230px;
    text-align: center;
}

.box-product p,
.box-product a {
   padding-left: 20px;
}

.box-product p {
    font-size: 0.8vw;
}

.img-product img {
    height: 220px;
}

.menu-column ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-column li {
    padding: 10px 20px;
    border-bottom: 1px #ccc solid;
}

.menu-column ul li a {
    color: #666;
    text-decoration: none;
    font-size: 0.8vw;
}

.menu-column ul li:hover {
    background-color: #eee;
}

.box-search input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 4px;
}
/* Login */

.login-form {
    line-height: 150%;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
    width: 100%;
    border: 1px #ccc solid;
    padding: 4px;
    border-radius: 4px;
}

.login-form input[type="checkbox"] {
    border-radius: 4px;
}

.login-form input[type="submit"],
.login-form input[type="reset"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px #ccc solid;
}

.login-form input[type="submit"]:hover {
    background-color: #eee;
    cursor: pointer;
}

.login-form a {
    color: rgb(0, 53, 128);
    text-decoration: none;
    font-size: 0.8vw;
}

.login-form li a:hover {
    text-decoration: underline;
    color: #3880ec;
}

.thongbao {
    color: rgb(48, 159, 122);
}

.top10 img{
    width: 15%;
    height: 34px;
    float: left;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px #ccc solid;
}

.top10 a {
    color: #666;
    text-decoration: none;
}

.top10 a:hover {
    color: #000;
    text-decoration: underline;
}

/* Slide */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.footer  {
    background-color: #76bb6852;
    color: #6abe61;
    border: 1px rgb(48, 159, 122)solid;
    border-radius: 4px;
    font-size: 1vw;
    padding: 20px;
}
/* admin*/
.headeradmin    {
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 1vw;
    color: blue;
    border-radius: 0px 20px;
}
.headeradmin h1{
    font-size: 2vw;
}
.frmtitle{
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 1vw;
    color: blue;
    border-radius: 0px 20px;
}
.frmcontent input[type= "text"] {
    width: 100%;
    border: 1px #CCC solid;

    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.frmcontent input[type= "submit"],
.frmcontent  input[type= "reset"],
.frmcontent  input[type= "button"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #CCC soild;
}
.frmdsloai table{
    width: 100%;
    border-collapse: collapse   ;
}
.frmdsloai table th{
  
    background-color: aqua;
    padding: 20px ;
}
/* .frmdsloai table th:nth-child(2){
    width: 30%;
    background-color:aqua
}
.frmdsloai table th:nth-child(3){
    width: 40%;
    background-color: aqua;
}
.frmdsloai table th:nth-child(4){
    width: 20%;
    background-color: aqua;
} */
.frmdsloai table td{
    padding: 10px 20px;
    border: 1px #CCC solid;
}

/* --------------------------TIN TUC -------------------- */
.box-new1{
    margin-left: 200px;
}
.img-new img{
    width: 480px;
}
.ic {
    font-size: 15px;
    font-weight: 700;
}
.doc h3{
    font-size: 17px;
}
.doc p{
    font-size: 14px;
    line-height: 25px;
}
.box-new2 {
    margin-left: 40px;
}
.title-new h1,i{
    font-size: 23px;
    border-bottom: 1px solid #666 ;
}
.content-chill h3{
    font-size: 15px;
}
.content-chill i{
    font-size: 12px;
    
}
.content-chill{
    line-height: 25px;
}